<table class="table table-bordered">
    <thead>
<!--    <th>#</th>-->
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Tokens</th>
    <th>Grade</th>
    <th>Action</th>
    </thead>
    <tbody>
    {{#each learnersForGrade}}
        <tr>
            <td><a href="/learner/{{id}}/day/{{day.id}}/lessons">{{firstName}}</a></td>
            <td>{{lastName}}</td>
            <td>{{email}}</td>
            <td>{{tokens}}</td>
            {{#grades}}
                <td>{{gradeName}}</td>
            {{/grades}}
            <td>
                <a href="/school/grade/{{grade.id}}/learner/{{id}}/update" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#updateLearnerModal">Edit {{id}}id</a>
                <a href="/school/grade/{{grade.id}}/learner/{{id}}/delete" type="submit" class="btn btn-danger btn-sm">Remove</a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>





