<!-- Modal -->
<div class="modal fade" id="exampleModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{grade.gradeName}}: Subjects</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card shadow-lg p-3 bg-white rounded animate__animated animate__fadeIn mt-4">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each subjects}}
                            <tr>
                                <td>{{subjectName}}</td>
                                <td>
                                    <a
                                        type="submit"
                                        class="btn btn-primary btn-sm"
                                        data-toggle="modal"
                                        data-target="#editSubjectModal{{this.id}}"
                                        data-dismiss="modal" > Edit {{id}}
                                    </a>
                                    <a href="/school/grade/{{grade.id}}/subject/{{id}}/delete" type="submit" class="btn btn-danger btn-sm">Remove</a></td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                    {{> updateSubjectModal.handlebars}}

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div>

