<table class="table table-bordered">
    <thead>
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Tokens</th>
    <th>Grade</th>
    <th>Action</th>
    </thead>
    <tbody>
    {{#each learnersForGrade}}
        <tr>
            <td>{{this.id}}</td>
            <td><a href="/day/{{day.id}}/learner/{{id}}/lesson">{{firstName}}</a></td>
            <td>{{lastName}}</td>
            <td>{{email}}</td>
            <td>{{tokens}}</td>
            {{#grades}}
                <td>{{gradeName}}</td>
            {{/grades}}
            <td>
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal8">Edit {{id}}id</button>
                <a href="/day/{{day.id}}/grade/{{grade.id}}/learner/{{id}}/delete" type="submit" class="btn btn-danger btn-sm">Remove</a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Register Learner</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/day/{{day.id}}/grade/{{grade.id}}/learner/26/update" method="post">
                <div class="modal-body">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Grade</label>
                            <select class="form-control" name="grade">
                                <option class="dropdown-item" type="button">select grade</option>
                                {{# grades}}
                                    <option class="dropdown-item" type="button">{{gradeName}}</option>
                                {{/grades}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">First name</label>
                            <input type="text" class="form-control {{firstNameInvalid}}" name="firstName" value="{{learner.firstName}}">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Last name</label>
                            <input type="text" class="form-control" name="lastName" value="lastName">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" name="email" value="email@gmail.com">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

