<!-- Modal -->
<div class="modal fade" id="myNotesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">My Notes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card shadow-lg p-3 bg-white rounded animate__animated animate__fadeIn">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Lesson</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Title</th>
                            <th scope="col">Source</th>
                            <th scope="col">Notes</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each notes}}
                            <tr>
                                <td>
                                    {{#lessons}}
                                        {{lessonName}}
                                    {{/lessons}}
                                </td>
                                <td>
                                    {{#subjects}}
                                        {{subjectName}}
                                    {{/subjects}}
                                </td>
                                <td>{{title}}</td>
                                <td>
                                    {{#learnerNotes}}
                                        {{source}}
                                    {{/learnerNotes}}
                                </td>
                                <td>{{notes}}</td>
                                <td>
    <!--                                <a href="/subject/{{id}}/update" type="submit" class="btn btn-primary btn-sm">Edit</a>-->
                                    <a href="/learner/{{learner.id}}/day/{{day.id}}/notes/{{id}}/delete" type="submit" class="btn btn-danger btn-sm">Remove</a></td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

