<div class="row">
    {{#each products}}
        <div class="col-sm-4 mt-3">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded animate__animated animate__fadeIn" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title mb-3">{{productName}} </h5>
                    <h6 class="card-subtitle mb-3 text-muted">Product: {{productName}}</h6>
                    <h6 class="card-subtitle mb-3 text-muted">Price: {{cost}}</h6>

                    <a href="/learner/{{learner.id}}/day/{{day.id}}/product/{{id}}/buy" type="button" class="btn btn-primary mt-2 mr-3">Buy product</a>
                </div>
            </div>
        </div>
    {{/each}}
</div>