{{> header.handlebars}}

<body>
<div class="container jumbotron" style="margin-top: 5rem;">
    <div style="display: flex;">
        <a href="/teacher/{{teacherId}}" type="button" class="btn btn-primary mt-2 mr-3"> < Back </a>
    </div>

    <div>
        <div class="mt-3 mb-5" style="text-align: center;">
            <h4>{{lesson.lessonName}} : {{subjectName}}</h4>
        </div>
        <table class="table table-bordered">
            <thead>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Tokens</th>
            </thead>
            <tbody>
            {{#each learnerList}}
                <!--                    <p>{{this}}</p>-->
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{firstName}}</td>
                    <td>{{lastName}}</td>
                    <td>{{tokens}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        <a href="/teacher/{{teacherId}}/lesson/{{lessonId}}/teach" type="button" class="btn btn-primary mt-2 mb-3 mr-3">Teach Lesson</a>
        <a href="/teacher/{{teacherId}}/lesson/{{lessonId}}/teach" type="button" class="btn btn-primary mt-2 mb-3 mr-3">Cancel Lesson</a>

    </div>

</div>

</body>
