{{> header.handlebars}}

<body>
<div class="container jumbotron" style="margin-top: 5rem;">
    <div class="d-flex justify-content-end">
        <a href="/teacher/{{teacher.id}}/day/{{day.id}}/lessons" class="btn btn-primary mb-3 mr-3" >
            < Back
        </a>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary mb-3 mr-3 ml-3" data-toggle="modal" data-target="#teacherPurchaseHistory">
            Purchase history
        </button>
        {{> teacherPurchaseHistoryModal.handlebars}}

        <div class="mb-3 mr-3 ml-3 d-flex ml-auto">
            <div class="input-group">
                <div class="input-group-prepend ">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Tokens: {{teacher.tokens}}</span>
                </div>
                <!--                <button class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">Buy</button>-->
            </div>
        </div>

    </div>


    <div style="text-align: center;">
        <h3>Welcome back: {{teacher.firstName}}</h3>
        <h4>List of Products</h4>
    </div>

    <div class="row">
        {{#each products}}
            <div class="col-sm-4 mt-3">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded animate__animated animate__fadeIn" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title mb-3">{{productName}} </h5>
                        <h6 class="card-subtitle mb-3 text-muted">Product: {{productName}}</h6>
                        <h6 class="card-subtitle mb-3 text-muted">Price: {{cost}}</h6>

                        <a href="/teacher/{{teacher.id}}/day/{{day.id}}/product/{{id}}/buy" type="button" class="btn btn-primary mt-2 mr-3">Buy product</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

</div>

</body>
</html>